/* Blue-grey Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #546e7a;
  --primary-hover: #455a64;
  --primary-focus: rgba(84, 110, 122, 0.125);
  --primary-inverse: #fff;
}

/* Blue-grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #546e7a;
    --primary-hover: #607d8b;
    --primary-focus: rgba(84, 110, 122, 0.25);
    --primary-inverse: #fff;
  }
}

/* Blue-grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #546e7a;
  --primary-hover: #607d8b;
  --primary-focus: rgba(84, 110, 122, 0.25);
  --primary-inverse: #fff;
}

/* Blue-grey (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* .category-filter {
  margin-bottom: 1rem;
  width: 27rem;
} */

.top__svg {
  float: right;
  margin: 1rem;
}

.category-button {
  font-size: 0.8rem;
  padding: 10px 0;
  width: 6rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

article {
  margin: 0;
  height: max-content;
  padding: 0 0;
  margin-bottom: 1rem;
  transition: all 0.6s;
}

article:hover {
  background-color: #24313c;
}

.news-card {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--card-bg-color);
  overflow: hidden; /* To contain floated elements */
  text-decoration: none;
  color: var(--text-color);
}

.img__box {
  width: 25%;
}

.news-image {
  float: left;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 150px;
}
.img__load {
  float: left;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  background-color: red;
}

.news-details {
  overflow: hidden; /* To contain floated elements */
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.news-title {
  font-size: 95%;
  margin: 0;
  color: var(--text-color);
}

.news-description {
  color: var(--text-secondary-color);
  font-size: 85%;
}

.news-category {
  color: var(--primary-color);
  padding: 0.2rem;
  background: #546e7a;
  width: max-content;
  border-radius: 5px;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.news-date {
  color: var(--text-secondary-color);
  font-size: 75%;
  font-weight: bold;
}

.no__response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  text-align: center;
  display: none;
}

.loader {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img__load {
  float: left;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  background-color: #cacaca;
}

.line-1 {
  width: 150px;
  height: 13px;
  position: absolute;
  top: 18px;
  left: 2px;
}

.line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.pagination {
  display: inline-flex;
  gap: 5px;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.pagination-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  color: #1a202c;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination-button:hover {
  background-color: #f7fafc;
}

.pagination-button.current {
  color: #fff;
  background-color: #4a5568;
  border-color: #4a5568;
}
